<!DOCTYPE html>
<html>
  <head>
    <title>Kickball!</title>
    <link href="/styles.css" rel="stylesheet">

  </head>
  <body>
    <h1>Welcome to our kickball app!</h1>
    <h2><a href="/teams"> See Teams </a></h2>
    <h2><a href="/positions"> See Positions </a></h2>
  </body>

</html>
